__pycache__
.pytest_cache

.vscode
.venv

.DS_Store

wandb

data

embeddings

visualizations

trained_models

models

prediction

tb_log_medium_dynamic

Archive

mapillary_token.txt
huggingface_token.txt

